:root{
  --main-color: #1ABC9C;
  --second-color: #2C3E50;
}
.bgSecondColor{
  background-color: var(--second-color);
}
.w-20{
  width: 20%;
}
.inner .layer {
  opacity: 0;
  transition: all 0.7s ease;
}
.inner:hover .layer {
  opacity: 1;
}
.bgMainColor{
  background-color: var(--main-color);
}

.textSecondColor{
  color: var(--second-color);
}
h1{
  line-height: 48px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
;
}
.navbar {
  transition: all 0.3s ease; 
}


.icons ul li{
  padding: 10px;
  margin-right: 5px;
  list-style: none;
  border: white 1px solid;
  border-radius: 50%;
}

nav{
  background-color: #2C3E50;
  
}
nav ul li{
  padding-right: 25px;
  width: fit-content;

}
.content{
  min-height: calc(-90px + 100vh);
  margin-top: 100px;
}
.content>div{
min-height: inherit;
}
.about_ {
 background-color: var(--main-color);

}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
border-radius: 10%;
 background-color: var(--main-color);

}
.contact-btn{
 background-color: var(--main-color);
color: white;
}
.contact-btn:hover{
 background-color: var(--main-color);
color: white;

}
.copyright{
  background-color: #1A252F;
  color: white;
    text-align: center;

}
.footer_{
  background-color: #2C3E50;
  padding-block: 80px;
}

.line {
  width: 100px;
  height: 4px;
}

label{
  color: var(--main-color);
  top: 30px !important;
  bottom: 5px;
  opacity: 0;
  transition: all .5s ease;
}
input{
  margin-block: 30px;
}
.activate{
 top: 0;
  opacity: 1;
}
